@import url("https://customa.gitlab.io/Customa-Discord/Base/base.m.css");

:root {
    --ColAppBG: #0F1933;
    --ColBackground1: #0F1933;
    --ColBackground2: #0F1933;
   --ColAccent: #FEF28C;
    ...
}